body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dae2eb;
    margin: 0;
    padding: 0;
}

.barra-menu {
    box-shadow: none;
    background-color: #305a8b;
    color: #fff;
}

.barra-semi-footer {
    box-shadow: none;
    background-color: #37AABB;
    color: #ffffff;
    padding: 5px;
}

.barra-footer {
    box-shadow: none;
    background-color: #1a2838;
    color: #ffffff;
    padding: 5px;
}

.footer-title-list {
    background: none;
    font-size: medium;
}

.footer-icon-color {
    color: #465f7d;
}

.footer-avatar-color {
    background-color: #ffffff;
}

.jumbotron {
    background: #87a2c0;
}

.boton-menu {
    color: #ffffff;
    box-shadow: none;

}

.boton-menu:hover {
    background-color: #e05050;
}

/* Alerts */
.alerta-verde {
    background-color: #179172;
    color: #ffffff;
}

.alerta-morada {
    background-color: #535ba0;
    color: #ffffff;
}

.alerta-rojo {
    background-color: #e05050;
    color: #ffffff;
}



.card-darkblue {
    background-color: #2b3e4d;
    color: #fff;
}

/* Botones Personalizados */
.boton-limpiar {
    border-color: #15c6e6;
    color: #109db6;
}

/* Boton Seleciones */
.boton-seleccionar-x {
    color: #2b484de0;
    border-width: 0px;
    background-color: #28aba0;
}

.boton-seleccionar-x:hover {
    color: #fff;
    border-color: #e05050;
    background-color: #e05050;
}


/* Perfil de contribuyente */
.card-contribuidor {
    margin-top: 24px; /* Ajuste para el margen superior */
}

.perfil-paper {
    padding: 24px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil para un efecto flotante */
    text-align: center; /* Centrado de texto */

    background-color: #cdd5dd;
    opacity: 0.8;
    background-image:  linear-gradient(#aabaca 1px, transparent 1px), linear-gradient(to right, #aabaca 1px, #cdd5dd 1px);
    background-size: 20px 20px;
}

.perfil-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajuste para la altura del contenedor de carga */
}

.perfil-avatar {
    width: 120px;
    height: 120px;
    background-color: #285593; /* Color de fondo del Avatar */
    color: #ffffff; /* Color del icono */
    border: 3px solid #ffffff; /* Borde blanco para destacar el avatar */
}

.perfil-name {
    color: #333d48; /* Color del texto del nombre */
    font-weight: bold; /* Negrita */
    margin-top: 16px; /* Espaciado superior para separar del avatar */
    margin-bottom: 8px; /* Espaciado inferior para separar del correo electrónico */
}

.perfil-email {
    color: #16305a; /* Color del texto del correo electrónico */
    font-weight: 300; /* Peso de fuente normal */
}
