body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dae2eb;
    margin: 0;
    padding: 0;
}

.barra-menu {
    box-shadow: none;
    background-color: #274262;
    color: #fff;
}

.barra-semi-footer {
    box-shadow: none;
    background-color: #37AABB;
    color: #ffffff;
    padding: 5px;
}

.barra-footer {
    box-shadow: none;
    background-color: #1a2838;
    color: #ffffff;
    padding: 5px;
}

.footer-title-list {
    background: none;
    font-size: medium;
}

.footer-icon-color {
    color: #465f7d;
}

.footer-avatar-color {
    background-color: #ffffff;
}

.jumbotron {
    background: #87a2c0;
}

.boton-menu {
    color: #ffffff;
    box-shadow: none;

}

.boton-menu:hover {
    background-color: #e05050;
}

/* Alerts */
.alerta-verde {
    background-color: #179172;
    color: #ffffff;
}

.alerta-morada {
    background-color: #535ba0;
    color: #ffffff;
}

.alerta-rojo {
    background-color: #e05050;
    color: #ffffff;
}

.card-contribuidor {
    color: #fff;
    background-color: #192737;
    border-bottom: 4px solid #e05050;
}

.card-darkblue {
    background-color: #2b3e4d;
    color: #fff;
}

/* Botones Personalizados */
.boton-limpiar {
    border-color: #15c6e6;
    color: #109db6;
}

/* Boton Seleciones */
.boton-seleccionar-x {
    color: #2b484de0;
    border-width: 0px;
    background-color: #28aba0;
}

.boton-seleccionar-x:hover {
    color: #fff;
    border-color: #e05050;
    background-color: #e05050;
}


/* Chips Alertados */