body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.barra-menu {
    box-shadow: none;
    background-color: #DB143F;
    color: #38474D;
   
    

    
}

.logo-texto {
    margin-left: 4px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;

    font-family: cursive;
    letter-spacing: 1px;
    text-decoration: none;
}